@font-face {
    font-family: 'Runy Tunes Revisited NF';
    src: url('hinted-RunyTunesRevisitedNF.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Runy Tunes Revisited NF';
    src: local('RunyTunesRevisitedNF'),  
		url("../assets/fonts/hinted-RunyTunesRevisitedNF.woff2") format('woff2'),
        url("../assets/fonts/hinted-RunyTunesRevisitedNF.woff") format('woff'),
		url('hinted-RunyTunesRevisitedNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





body {
	font-family: "Runy Tunes Revisited NF", serif;
	--card-back: #a2c7bf;
	--card-matched: #98b4b2;
	--card-table: #f1f1f2;
	--card-face: #f0e6bd;
	--background: #1995ad;
	--border: #093837;
}

.card_table {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
	background: var(--card-table);
}

.card_container {
	perspective: 1000px;
}

.card {
	transition: 0.5s;
	position: relative;
	transform-style: preserve-3d;
	padding: 2%;
	margin: 2px;
	border-radius: 5%;
}

.card_side {
	width: 68px;
	height: 68px;
	text-align: center;
}

.card_click {
	position: absolute;
	width: 100%;
	height: 100%;
}

.card_front {
	transform: rotateY(180deg);
	background: var(--card-face);
}

.card-back {
	background: var(--card-back);
}

.image {
	width: 64px;
	height: 64px;
}

.image {
	fill: red;
}


.card_hidden {
	display: none;
}

.card_turn {
	transform: rotateY(180deg);
}

.icon_black path {
	fill: black;
}

.icon_red path {
	fill: red;
}

.icon_blue path {
	fill: blue;
}

.icon_green path {
	fill: green;
}

.icon_purple path {
	fill: purple;
}


.splash_container {
	
}

.splash_message {
	
}

.splash_button {
	
}

.splash{
	
}