@font-face {
    font-family: 'Runy Tunes Revisited NF';
    src: url('hinted-RunyTunesRevisitedNF.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Runy Tunes Revisited NF';
    src: local('RunyTunesRevisitedNF'),  
		url("../assets/fonts/hinted-RunyTunesRevisitedNF.woff2") format('woff2'),
        url("../assets/fonts/hinted-RunyTunesRevisitedNF.woff") format('woff'),
		url('hinted-RunyTunesRevisitedNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-size: 2em;
	letter-spacing: 0.2em;
	font-family: "Runy Tunes Revisited NF", serif;
	--card-back: #a2c7bf;
	--card-matched: #98b4b2;
	--card-table: #f1f1f2;
	--card-face: #f0e6bd;
	--background: #1995ad;
	--border: #093837;
	--grid-rows: 1;
	--grid-columns: ;
}

.card_table {
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: repeat(var(--grid-rows), 68px);
	grid-template-columns: repeat(var(--grid-columns), 68px);
	align-content: center;
	justify-content: center;
}

.card_container {
	width: 68px;
	height: 68px;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.card {
	width: 68px;
	height: 68px;
	transition: 0.5s;
	position: relative;
	transform-style: preserve-3d;
	border-radius: 5%;
}

.card_side {
	width: 68px;
	height: 68px;
	text-align: center;
}

.card_click {
	position: absolute;
	width: 100%;
	height: 100%;
}

.card_front {
	transform: rotateY(180deg);
	background: var(--card-face);
	backface-visibility: hidden;
}

.card-back {
	background: var(--card-back);
	backface-visibility: hidden;
}

.image {
	width: 64px;
	height: 64px;
}

.card_hidden {
	display: none;
}

.card_turn {
	transform: rotateY(180deg);
}

.icon_black {
	fill: black;
}

.icon_red {
	fill: red;
}

.icon_blue {
	fill: blue;
}

.icon_green {
	fill: green;
}

.icon_purple {
	fill: purple;
}

.icon_white {
	fill: white;
}


.splash_container {
	
}

.splash_message {
	
}

.splash_button {
	
}

.splash{
	
}

.button{
	cursor: pointer;
}

.button:hover {
	
}